<section data-background="http://farm4.staticflickr.com/3785/10788619774_c4f74896b2_b.jpg">
  <h1> Intro to Ruby </h1>
</section>

<section>
    <!-- <p class="fragment grow">grow</p>
    <p class="fragment shrink">shrink</p>
    <p class="fragment roll-in">roll-in</p> -->
    <!-- <p class="fragment fade-out">fade-out</p> -->
    abc
    <p class="fragment fade-in">fade-in</p>
    <!-- <p class="fragment highlight-red">highlight-red</p> -->
</section>

<section>
  {{code "hello.rb"}}
</section>

<section>
  <h1>Why Ruby?</h1>
</section>

<section>
  <h2> header 2 v2 </h2>
  <ul>
    <li>Dynamic Language</li>
    <li>Object Oriented</li>
    <li>Concise &amp; Expressive</li>
    <li>Great Community</li>
    <li>Designed for Happiness</li>
  </ul>
</section>

<section data-state="show-ide">
  Exercises
</section>

<section>
  Next Slide
</section>
