<!DOCTYPE html>
<html>
  <head>
    <title>Fork 2</title>
    {{#if useBundle}}
    <link rel="stylesheet" type="text/css" href="/bundle/css/app.css">
    {{else}}
    <link rel="stylesheet" type="text/css" href="/build/client/css/app.css">
    {{/if}}
  </head>
  <body>
    <div id="main">
        {{{body}}}
    </div>
    <!-- <script src="http://localhost:35729/livereload.js"></script>  -->

    {{#if useBundle}}
    <script src="/bundle/app-vendor.js"></script>
    <script src="/bundle/app.js"></script>
    {{else}}
    <script data-main="/build/client/requirejs-config.js" src="/build/client/bower_components/requirejs/require.js"></script>
    {{/if}}
    <script type="text/javascript">
        require(["app/vendor"],function() {
            require(["app"]);
        });
    </script>
  </body>
</html>
