<div class="reveal">
  <div class="slides">
    <section>
      new slide
    </section>
    
    <section>
      Allo! Allo! Slide as hbs 2
      wtf it works now?
    </section>

    <section>
      <h2> header 2 v2 </h2>
      slide 2
    </section>

    <section>
      slide 3 hoho
    </section>
  </div>
</div>