.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}

.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}

.quiz {
  .bs-callout();
  .bs-callout-info();
}

.quiz-entry {
  border: 0px solid black;
  margin-bottom: 10px;

  &:hover {
    .quiz-checkbox {
      color: #bbb;
    }
  }

  &.selected {
    .quiz-checkbox {
      color: #3c763d;
    }
  }
}

.quiz-entry-content {
  border-left: 3px solid #eee;
  padding-left: 5px;
  margin-left: 30px;
}

.quiz-checkbox {
  color: #eee;
  text-align: center;
}

.quiz-icons {
  float: left;

  .glyphicon-warning-sign {
    color: #a94442;
  }
}