.quiz {
  background: #EEE;
  margin-bottom: 1em;
  .quiz-result {
    color: green;
    &.error {
      color: red;
    }
  }
}

.quiz .quiz-choose-many {
  div.error {
    color: red;
  }
  input {
    float: left;
  }

  .entry {
    margin-bottom: 5px;
    padding-left: 1em;
  }
}

.quiz .quiz-input {
  .quiz-input-entry {
    margin-bottom: 1.5em;
    padding-left: 1em;
  }
}