<div id="page-view">
  <div class="page-wrapper">
    <div class="page-sidebar">
      <div class="page-outline bs-sidenav affix-top" role="complementary">
      <ul class="nav nav-list">
        {{#each unit.headers}}
          <li><a class="reference internal" href="#{{id}}">{{text}}</a></li>
        {{/each}}
        </div>
    </div>

    <div class="page-content">
      <div class="panel panel-default">
        <div class="panel-body">
          {{#with unit.previous}}{{#if .}}
          <a href="{{permalink}}">
            <span class="glyphicon glyphicon-arrow-left"></span>
            {{title}}
          </a>
          {{/if}}{{/with}}

          {{#with unit.next}}{{#if .}}
          <a class="pull-right" href="{{permalink}}">
            {{title}}
            <span class="glyphicon glyphicon-arrow-right"></span>
          </a>
          {{/if}}{{/with}}
        </div>
      </div>
      {{{content}}}
    </div>
  </div>
  <div class="footnote-wrapper">
  </div>
</div>
