<div id="page-view">
  <div class="btn-group">

    <a href="/" type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-home"></span>
    </a>

    {{#with unit.previous}}{{#if .}}
    <a href="{{permalink}}" type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-arrow-left"></span>
      {{title}}
    </a>
    {{/if}}{{/with}}

    {{#with unit.next}}{{#if .}}
    <a href="{{permalink}}" type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-arrow-right"></span>
      {{title}}
    </a>
    {{/if}}{{/with}}
  </div>
  {{{content}}}
</div>
