<section>
  <h1> Intro to Golang </h1>
</section>

<section>
  {{code "hello.go"}}
</section>

<section>
  <h2> Golang </h2>
  <ul>
    <li>Fast Compilation</li>
    <li>Built for System Programming</li>
    <li>Simple Type System</li>
    <li>Composition over Inheritance</li>
  </ul>
</section>

<section>
  {{#markdown}}
  ### header 3
  + item 1
  + item 2
  + another item
  + _last item_
  {{/markdown}}
</section>

<section>
  {{#md}}
  ### using the md alias
  + item
  + item
  + another item
  {{/md}}
</section>
