@import (less) "css/lib/layout-default-latest.css";

// reveal.css introduces some global styles. Doesn't seem to break when bootstrap resets everything.
@import (less) "bower_components/reveal.js/css/reveal.css";
@import (less) "css/reveal-theme-default.css";

@import (less) "bower_components/bootstrap/less/bootstrap.less";

@import (less) "css/ide.less";
@import (less) "css/slidecast.less";

.ui-layout-pane {
  padding: 0;
}

.reveal-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#ide {
  position: relative;
  width: 100%;
  height: 100%;
  background: #FFF;
  
  &.noshow {
    opacity: 0;
    transition: opacity 0.8s ease;
  }
}

.show-ide #ide.noshow {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 100; 
}