<div class="quiz-input">
{{#each entries}}
  <div class="quiz-input-entry">
    {{{text}}}
    <input type="text"/>
    <button class="checkAnswer">Check Answer</button>
    <button class="showAnswer hidden">Show Answer</button>
    <div class="quiz-result"></div>
  </div>
{{/each}}
</div>