<div class="quiz-choose-many">

  {{#each entries}}
    <div class="entry">
      <div>
        <input type="checkbox" value="hoho"/>
        {{{text}}}
        <div class="error-message hidden"></div>
      </div>
    </div>
  {{/each}}

  <button>Check Answer</button>
  <span class="quiz-result"></span>
<div>