<div class="quiz-choose-many">

  {{#each choices}}
    <div>
      <input type="checkbox" value="hoho"/>
      {{text}}
    </div>
  {{/each}}

  <button>Check Answer</button>
  <span class="quiz-result"></span>
<div>